@{
	ViewData["Title"] = "Группа";
}

<div class="container d-flex justify-content-center align-middle h-full">
	<div class="col w-85 h-full m-0 mt-2">
		<div class="row w-full h-25 m-0 mt-sm-3 bg-white pt-3 drop-shadow d-flex justify-content-center align-items-centerv">
			<div class="row h-25 ms-lg-3">
				<div class="row">
					<h5>Онлайн вт чт 20:00   <img src="~/icons/online.svg" width="20px" height="20px" /></h5>
				</div>
				<div class="row">
					<span>Python Start 2021/2022 - 2й год</span>
				</div>
			</div>
			<div class="row h-50 d-flex justify-content-center align-items-center">
				<div class="row w-full h-full">
					<div class="col-2 h-full">
						<div class="row w-full h-full d-flex justify-content-center align-items-center">
							<div class="col-2 h-50 d-flex justify-content-center align-items-center">
								<img src="~/icons/students.svg" />
							</div>
							<div class="col-1">
							</div>
							<div class="col-2 h-50 d-flex justify-content-center align-items-center">
								<h1>10</h1>
							</div>
						</div>
					</div>
					<div class="col-5 h-full">
						<div class="row w-full h-full d-flex justify-content-center align-items-center">
							<div class="col-2 h-50 d-flex flex-row justify-content-center align-items-center">
								<img src="~/icons/teacher.svg" />
							</div>
							<div class="col-6 h-full d-flex flex-column justify-content-center align-items-center">
								<span style="width: max-content;">Сергей Калуцкий</span>
								<span style="width: max-content;">+79998571894</span>
								<span style="width: max-content;">skalutsky@gmail.com</span>
							</div>
						</div>
					</div>
					<div class="col-5 h-full">
						<div class="row w-full h-full d-flex justify-content-center align-items-center">
							<div class="col-2 h-50 d-flex flex-row justify-content-center align-items-center">
								<img src="~/icons/curator.svg" />
							</div>
							<div class="col-6 h-full d-flex flex-column justify-content-center align-items-center">
								<span style="width: max-content;">Новаченко Юлия</span>
								<span style="width: max-content;">+7 (777) 921-06-25</span>
								<span style="width: max-content;">n.Julie.tt74@gmail.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row w-full h-5 m-0 bg-white mt-2 drop-shadow">
			<div class="col d-flex justify-content-center align-middle hover-bg-change-slate-300 cursor-pointer">
				<span class="h-75 d-flex align-self-center font-medium">
					<a asp-area="" asp-controller="Group" asp-action="Index">Ученики</a>
				</span>
			</div>
			<div class="col d-flex justify-content-center align-middle hover-bg-change-slate-300 cursor-pointer">
				<span class="h-75 d-flex align-self-center font-medium">
					<a asp-area="" asp-controller="Group" asp-action="Lessons">Уроки</a>
				</span>
			</div>
			<div class="col d-flex justify-content-center align-middle hover-bg-change-slate-300 bg-change-slate-300 cursor-pointer">
				<span class="h-75 d-flex align-self-center font-medium">
					<a asp-area="" asp-controller="Group" asp-action="History">История группы</a>
				</span>
			</div>
			<div class="col d-flex justify-content-center align-middle hover-bg-change-slate-300 cursor-pointer">
				<span class="h-75 d-flex align-self-center font-medium">
					<a asp-area="" asp-controller="Group" asp-action="Notes">Заметки</a>
				</span>
			</div>
		</div>
		<div class="row w-full h-full m-0 mt-sm-3 bg-white pt-3 d-flex justify-content-center align-middle drop-shadow">
			<table class="table table-sm w-85">
				<thead>
					<tr>
						<th scope="col">Дата</th>
						<th scope="col">Описание</th>
						<th scope="col">Исполнитель</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
						<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					</tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
