@{
	ViewData["Title"] = "Группа";
}


<div class="container d-flex justify-content-center align-middle h-full">
	<div class="col w-85 h-full m-0 mt-2">
		@await Html.PartialAsync("_PartialNavHeader.cshtml")
		<div class="row w-full h-full m-0 mt-sm-3 bg-white pt-3 d-flex justify-content-center align-middle drop-shadow">
			<table class="table table-sm w-85">
				<thead>
					<tr>
						<th scope="col">Дата</th>
						<th scope="col">Описание</th>
						<th scope="col">Исполнитель</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
						<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					<tr>
						<td>10.08.2023 12:27</td>
						<td>Хайдаров Михаил Отчислен из группы</td>
						<td>Новаченко Юлия</td>
					</tr>
					<tr>
						<td>08.08.2023 22:00</td>
						<td>Прошло занятие 27. М5 У9. Доработка и презентация проекта.</td>
						<td>Robot</td>
					</tr>
					</tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
