@{
	ViewData["Title"] = "Группа";
}


<div class="container d-flex justify-content-center align-middle h-full">
	<div class="col w-85 h-full m-0 mt-2">
		@await Html.PartialAsync("_PartialNavHeader.cshtml")
		@*<---------------------------------- Ученики ---------------------------------->*@
		<div class="row w-full m-0 mt-sm-3 bg-white pt-2 pb-4 d-flex justify-content-center drop-shadow">
			@for (int j = 0; j < 6; j++)
			{
				<div class="row bg-slate-100 drop-shadow mt-2" style="height:120px">
					<div class="col-1 d-flex flex-column justify-content-center align-items-center m-0 p-0">
						<span class="avatar-user hover-bg-change-slate-300 cursor-pointer"
							  style="width:30px; height:30px" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<img src="~/icons/comment.svg" />
						</span>
					</div>
					<div class="col-2 d-flex flex-column justify-content-center align-items-center">
						<span class="font-medium">Евтушенко Александр</span>
						<span>13 лет</span>
					</div>
					<div class="col-7 d-flex justify-content-center align-items-center">
						<div class="row w-75 h-50">
							<div class="row h-50">
								@for (int i = 0; i < 18; i++)
								{
									<span class="square"></span>
								}
							</div>
							<div class="row h-50" style="margin-top: 4px;">
								@for (int i = 0; i < 18; i++)
								{
									<span class="square"></span>
								}
							</div>
						</div>
					</div>
					<div class="col-2 d-flex justify-content-center align-items-center">
						<div class="btn-group dropend">
							<button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Зачислен 10.08.2023
							</button>
							<div class="dropdown-menu relative">
								<a class="dropdown-item" href="#">Перевести</a>
								<a class="dropdown-item" href="#">Отчислить</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Добавить заметку об ученике</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<textarea rows="5" style="width:100%" id="TITLE"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Редактировать группу</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="email" class="form-control" placeholder="Онлайн вт чт 20:00">
					<input class="form-control mt-3" list="datalistOptions" id="exampleDataList1" placeholder="Python Start 2021/2022 - 2й год">
					<datalist id="datalistOptions">
						<option value="Python Pro"></option>
						<option value="Python Pro 2"></option>
						<option value="Python Start 2"></option>
						<option value="Python Start"></option>
						<option value="Геймдизайн"></option>
						<option value="Unity"></option>
						<option value="Unity++"></option>
						<option value="Scratch"></option>
						<option value="Web"></option>
						<option value="Графический дизайн"></option>
					</datalist>
					<input class="form-control mt-3" list="datalistOptions2" id="exampleDataList2" placeholder="Сергей Калуцкий">
					<datalist id="datalistOptions2">
						<option value="Калуцкий Сергей"></option>
						<option value="Иванов Петр"></option>
						<option value="Петров Иван"></option>
						<option value="Самарин Василий"></option>
						<option value="Николаев Николай"></option>
						<option value="Самарина Валя"></option>
						<option value="Котов Кот"></option>
					</datalist>
					<input class="form-control mt-3" list="datalistOptions3" id="exampleDataList3" placeholder="Новаченко Юлия">
					<datalist id="datalistOptions3">
						<option value="Калуцкий Сергей"></option>
						<option value="Иванов Петр"></option>
						<option value="Петров Иван"></option>
						<option value="Самарин Василий"></option>
						<option value="Николаев Николай"></option>
						<option value="Самарина Валя"></option>
						<option value="Котов Кот"></option>
					</datalist>
					<input class="form-control mt-3" list="datalistOptions4" id="exampleDataList4" placeholder="Интенсив">
					<datalist id="datalistOptions4">
						<option value="Мастер-класс"></option>
						<option value="Группа"></option>
						<option value="Интенсив"></option>
						<option value="Индивидуальная"></option>
						<option value="Индив. интенсив"></option>
					</datalist>
					<div class="form-check mt-3">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							Оффлайн
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addMembers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Добавить учеников</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-8">
							<input class="form-control" list="datalistOptions6" id="exampleDataList6" placeholder="Поиск ученика">
							<datalist id="datalistOptions6">
								<option value="Петров Николай"></option>
								<option value="Васильев Виктор"></option>
								<option value="Поляков Денис"></option>
								<option value="Вознесенский Дамир"></option>
								<option value="Фарихад Денис"></option>
							</datalist>
						</div>
						<div class="col-4">
							<button type="button" class="btn btn-primary">Добавить</button>
						</div>
					</div>
					<ul class="list-group mt-3">
						<li class="list-group-item" aria-disabled="true">Петров Николай +79998571894</li>
						<li class="list-group-item">Вознесенский Дамир +7987571894</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
</div>
