@{
	ViewData["Title"] = "Группа";
}

<div class="container d-flex justify-content-center align-middle h-full">
	<div class="col w-85 h-full m-0 mt-2">
		@await Html.PartialAsync("_PartialNavHeader.cshtml")
		<div class="row overflow-auto w-full h-full m-0 mt-sm-3 bg-white d-flex justify-content-center align-middle drop-shadow">
			<table class="table table-sm w-85">
				<thead style="height:50px !important">
					<tr>
						<th scope="col">Дата</th>
						<th scope="col">Время</th>
						<th scope="col">Урок</th>
						<th scope="col">Статус</th>
						<th style="width:40px; height:30px">
							<img src="~/icons/presentation.svg" />
						</th>
						<th style="width:40px; height:30px">
							<img src="~/icons/document.svg" />
						</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < 18; i++)
					{
						<tr>
							<td><p><input placeholder="08/09/2023" type="text" class="datepicker"></p></td>
							<td>20:00 — 21:30 </td>
							<td>Введение</td>
							<td>
								<div class="btn-group dropright">
									@if (i < 3)
									{
										<button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Открыт
										</button>
									}
									else
									{
										<button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Закрыт
										</button>
									}
									<div class="dropdown-menu">
										<a class="dropdown-item">Закрыт</a>
										<a class="dropdown-item">Открыт</a>
									</div>
								</div>
							</td>
							<td style="width:30px; height:30px">
								<a target="_blank" href="https://docs.google.com/presentation/d/1JOszvqIZiqHJitAHlUHy3PWwQvO_vrsx/edit?usp=drive_link&ouid=107133456588313942648&rtpof=true&sd=true">
									<span class="avatar-user hover-bg-change-slate-300 cursor-pointer">
										<img src="~/icons/arrow-up-right.svg" />
									</span>
								</a>
							</td>
							<td style="width:30px; height:30px">
								<a target="_blank" href="https://docs.google.com/document/d/1fq5WENgOglIWo6ejUwLA_ijzlJ0xqzLM/edit?usp=drive_link&ouid=107133456588313942648&rtpof=true&sd=true">
									<span class="avatar-user hover-bg-change-slate-300 cursor-pointer">
										<img src="~/icons/arrow-up-right.svg" />
									</span>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

