@{
	ViewData["Title"] = "Календарь";
}

<div class="container d-flex justify-content-center align-middle h-full">
	<div class="col w-85 h-full m-0 mt-2">
		<div class="row w-full m-0 bg-white drop-shadow" style="height:8%">
			<div class="col d-flex justify-content-center align-items-center">
				<div class="row h-50 w-full">
					<div class="col">
						<button type="button" class="btn btn-primary btn-block">+ Добавить</button>
						<button type="button" class="btn btn-info btn-block">Фильтр</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-white w-full m-0 mt-3 pt-3">
			<div id='calendar'></div>
		</div>
	</div>


</div>
