@{
	ViewData["Title"] = "Студенты";
}

<div class="container d-flex justify-content-center align-middle h-full">
	<div class="col w-85 h-full m-0 mt-2">
		<div class="row w-full m-0 bg-white drop-shadow" style="height:8%">
			<div class="col d-flex justify-content-center align-items-center">
				<div class="row h-50 w-full">
					<div class="col">
						<button type="button" class="btn btn-primary btn-block">+ Добавить</button>
						<button type="button" class="btn btn-info btn-block">Фильтр</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row w-full h-full m-0 mt-sm-3 bg-white pt-3 d-flex justify-content-center align-middle drop-shadow">
			<table class="table table-sm w-85">
				<thead>
					<tr>
						<th scope="col"><input type="checkbox" class="form-check-input" /> </th>
						<th scope="col">Имя</th>
						<th scope="col">Возраст</th>
						<th scope="col">Группа</th>
						<th scope="col">Статус Обучения</th>
						<th scope="col">Дата рождения</th>
						<th scope="col">Контакты</th>
						<th scope="col">Расписание</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>Абдезин Алдияр</td>
						<td>Онлайн ср пт 20-00 Сергей</td>
						<td>Активен</td>
						<td>14.03.2010</td>
						<td> +7(701)717-71-61 (Гаухар)</td>
						<td>чт 21:30 вт 15:00</td>
						<td>Баймуратов Адиль</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
