@{
	ViewData["Title"] = "Группы";
}

<div class="container d-flex justify-content-center align-middle h-full">
	<div class="col w-85 h-full m-0 mt-2">
		<div class="row w-full m-0 bg-white drop-shadow" style="height:8%">
			<div class="col d-flex justify-content-center align-items-center">
				<div class="row h-50 w-full">
					<div class="col">
						<button type="button" class="btn btn-primary btn-block">+ Добавить</button>
						<button type="button" class="btn btn-info btn-block">Править</button>
						<button type="button" class="btn btn-danger btn-block">Удалить</button>
						<button type="button" class="btn btn-info btn-block">Подтвердить</button>
						<button type="button" class="btn btn-success btn-block">Отчеты</button>
						<button type="button" class="btn btn-dark btn-block">Другое</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row w-full h-full m-0 mt-sm-3 bg-white pt-3 d-flex justify-content-center align-middle drop-shadow">
			<table class="table table-sm w-85">
				<thead>
					<tr>
						<th scope="col"><input type="checkbox" class="form-check-input"/> </th>
						<th scope="col">Дата</th>
						<th scope="col">Тип операции</th>
						<th scope="col">Сумма</th>
						<th scope="col">Счет(Касса)</th>
						<th scope="col">Статья</th>
						<th scope="col">Назначение</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
					<tr>
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>10.08.2023</td>
						<td>Расход #22742</td>
						<td>20000</td>
						<td>Наличные колледж</td>
						<td>(не задано)</td>
						<td>Баймуратов Адиль</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
