@{
	ViewData["Title"] = "Учитель";
}

<div class="container d-flex align-middle h-full flex-column">

	<div class="row w-full h-65 m-0 mt-sm-3 bg-white pt-3 drop-shadow">
		<div class="col-3 h-full">
			<div class="row d-flex justify-content-center align-middle mt-3" style="height:40%">
				<img src="~/images/test.jpeg" class="avatar-user">
			</div>
			<div class="row" style="height:60%"></div>
		</div>
		<div class="col-9 h-full">
			<div class="row m-lg-2" style="height:10%">
				<h2>Евтушенко Александр</h2>
			</div>
			<div class="row m-lg-2" style="height:30%">
				<div class="col">
					<div class="row" style="height:40%">
						<h4>Данные ребенка:</h4>
						<span>Уроки: 34</span>
						<span>Пол: муж</span>
						<span>Возраст: 15</span>
						<span>Телефон: +79998571894</span>
						<span>email: skalutsky@gmail.com</span>
						<span>Логин/Пароль: evalex/1804</span>
						<span>Георграфия: Алматы</span>
					</div>
				</div>
				<div class="col">
					<div class="row" style="height:40%">
						<h4>Данные родителя:</h4>
						<span>Телефон: +79998571894</span>
						<span>email: skalutsky@gmail.com</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row w-full h-full m-0 mt-sm-3 bg-white pt-3 d-flex justify-content-center align-middle drop-shadow">
		<div class="row bg-slate-100 drop-shadow mt-3" style="height:150px">
			<div class="col-3 d-flex flex-column justify-content-center align-items-center">
				<span class="font-medium">Python Pro</span>
				<span>ВС 20:00</span>
			</div>
			<div class="col-7 d-flex justify-content-center align-items-center">
				<div class="row w-75 h-50">
					<div class="row h-50">
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
					</div>
					<div class="row h-50" style="margin-top: 4px;">
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
					</div>
				</div>
			</div>
			<div class="col-2 d-flex justify-content-center align-items-center">
				<div class="btn-group dropright">
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Зачислен 10.08.2023
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-slate-100 drop-shadow mt-3" style="height:150px">
			<div class="col-3 d-flex flex-column justify-content-center align-items-center">
				<span class="font-medium">Python Pro</span>
				<span>СБ 12:00</span>
			</div>
			<div class="col-7 d-flex justify-content-center align-items-center">
				<div class="row w-75 h-50">
					<div class="row h-50">
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
					</div>
					<div class="row h-50" style="margin-top: 4px;">
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
						<span class="square"></span>
					</div>
				</div>
			</div>
			<div class="col-2 d-flex justify-content-center align-items-center">
				<div class="btn-group dropright">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Переведен 10.08.2023
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>